<div class="btn-group">
    <button type="button" class="btn btn-default btn-table dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu inner">
        <li><button data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>' data-href="{{ path('app_achat_remove',{'id':achat.id}) }}" class="btn btn-xs btn-default delete-achat"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button></li>
    </ul>
</div>
{% if achat.image is not null %}
    <a class="btn btn-table btn-default" title="{{ achat.numeroFacture }}" data-fancybox href="{{ path('app_images',{'nom':achat.image.nom}) }}"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
{% endif %}
<button data-loading-text='<i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' title="Editer" data-href="{{ path('app_achat_edit',{'id':achat.id}) }}" data-title="Editer un achat" class="btn btn-table btn-primary edit-achat"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
{% if achat.productions|length > 0 or achat.options|length > 0 %}
    <a data-loading-text='<i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' class="btn btn-table btn-success details-achat" title="Détails" data-title="Achat effectué le {{ achat.date|date('d/m/Y') }}" data-href="{{ path('app_achat_details',{'id':achat.id}) }}"><i class="fa fa-flask" aria-hidden="true"></i></a>
{% endif %}

