{% extends "layout.html.twig" %}
{% set item = 'depenses' %}
{% set sousItem = 'settings' %}
{% set menuItem = 'designation'  %}
{% block title %}Charges | Paramètres | Designation {% endblock %}

{% block style %}
    <!-- Datatables -->
    <link href="{{ asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}


 {% block breadcrumb %}
     <li class="active">Dépenses</li><li class="active">Paramétrages</li><li class="active">Designations</li>
 {% endblock %}

{% block contenu %}
    {% include "AppBundle:depense:menu.html.twig" with {'item':menuItem} %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Recherche : </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><select class="form-control" id="length"><option value="10">10</option><option value="25">25</option><option selected value="50">50</option><option value="100">100</option></select></li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="search-bar" class="x_content">
                    <div class="row row-fluid">
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <input type="text" id="id" title="Id" class="form-control small-input filter" placeholder="Id" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <input type="text" id="label" class="form-control filter" placeholder="Libellé" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                            <select placeholder="Fournisseurs" title="Fournisseurs" multiple id="fournisseurs" class="form-control filter show-tick">
                                {% for fournisseur in fournisseurs %}
                                    <option value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <select title="Archivé" id="archive" class="form-control show-tick filter">
                                    <option value="">Archivé</option>
                                    <option value="1">Oui</option>
                                    <option selected value="0">Non</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Liste Des Designations</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a data-loading-text='Veuillez patienter <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' data-title="Ajouter une nouvelle designation" data-href="{{ path('app_type_depense_add') }}" id="add-type"><i class="fa fa-plus-square" aria-hidden="true"></i> Ajouter</a></li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table data-href="{{ path('app_type_depense_index') }}" id="table-types" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th style="background-color: transparent;"></th>
                                    <th>Id</th>
                                    <th>Libellé</th>
                                    <th>Fournisseurs</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="sous-types" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        </div>
    </div>

{% endblock %}

{% block javascript %}
    <!-- Datatables -->
    <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
{% endblock %}
{% block customJs %}
    <script src="{{ asset('js/depense/settings_designation.js') }}"></script>
{% endblock %}