<div class="row">
    <div class="col-lg-12">
        <p style="padding: 10px 15px;color: red;" class="form-error"></p>
    </div>
</div>
{{ form_start(formOption,{ 'action': action,'attr':{'method':'POST','id':'appbundle_option'}}) }}
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(formOption.code) }}
            {{ form_widget(formOption.code, {'attr': {'class':'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {{ form_label(formOption.label) }}
            {{ form_widget(formOption.label, {'attr': {'class':'form-control'}}) }}
        </div>
    </div>
</div>
{{ form_rest(formOption) }}
{{ form_end(formOption) }}