<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('images/logo.ico') }}" type="image/x-icon" />
    <title>Alia Fromagerie | {% block title %}{% endblock %}</title>
    <!-- Jquery UI -->
    <link href="{{ asset('vendors/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendors/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendors/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css') }}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="{{ asset('vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet"/>
    <!-- jQuery sweetAlert -->
    <link href="{{ asset('vendors/bootstrap-sweetalert-master/dist/sweetalert.css') }}" rel="stylesheet"/>
    <!-- jQuery selectPicker -->
    <link href="{{ asset('vendors/bootstrap-select-1.12.2/dist/css/bootstrap-select.css') }}" rel="stylesheet"/>
    <!-- jQuery photobox -->
    <link rel="stylesheet" href="{{ asset('vendors/photobox-master/photobox/photobox.css') }}" type="text/css" media="screen" />
    <!-- iCheck -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Switchery -->
    {#<link href="{{ asset('vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">#}
    <!-- multiselect -->
    <link href="{{ asset('vendors/lou-multi-select-e052211/css/multi-select.css') }}" media="screen" rel="stylesheet" type="text/css">
    <!-- pretty checkbox -->
    <link href="{{ asset('vendors/pretty-checkbox-master/src/pretty.min.css') }}" media="screen" rel="stylesheet" type="text/css">
   {% block style %}{% endblock %}
    <!-- Custom Theme Style -->
    <link href="{{ asset('build/css/custom.css') }}" rel="stylesheet">
    <!-- Mon Style -->
    <link href="{{ asset('build/css/style.css') }}" rel="stylesheet">

    {% block customCss %}{% endblock %}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('app_index') }}" class="site_title"><i class="fa fa-font" aria-hidden="true"></i> <span>Alia Fromagerie</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img {% if app.user.image is not null %} src="{{ image('images/upload/' ~ app.user.image.fullName).resize(56,56) }}" {% else %} src="{{ image("images/upload/no_image.png").resize(56,56) }}" {% endif %} alt="{{ app.user.username }}" class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Bienvenue,</span>
                        <h2>{{ app.user.username }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                       <ul class="nav side-menu">
                           <li {% if item is defined and item == 'index' %} class="active" {% endif %}><a href="{{ path('app_index') }}"><i class="fa fa-home"></i> Accueil</a></li>
                           <li {% if item is defined and item == 'clients' %} class="active" {% endif %}><a href="{{ path('app_client_index') }}"><i class="fa fa-address-card" aria-hidden="true"></i> Clients</a></li>
                           <li {% if item is defined and item == 'ventes' %} class="active" {% endif %}><a href="{{ path('app_commande_index') }}"><i class="fa fa-handshake-o" aria-hidden="true"></i> Ventes</a></li>
                           <li {% if item is defined and item == 'factures' %} class="active" {% endif %}><a href="{{ path('app_facture_index') }}"><i class="fa fa-file-text" aria-hidden="true"></i> Factures</a></li>
                           <li {% if item is defined and item == 'paiements' %} class="active" {% endif %}><a href="{{ path('app_paiement_index') }}"><i class="fa fa-money" aria-hidden="true"></i> Paiements</a></li>
                           <li {% if item is defined and item == 'depenses' %} class="active" {% endif %}><a><i class="fa fa-briefcase" aria-hidden="true"></i> Dépenses <span class="fa fa-chevron-down"></span></a>
                               <ul id="menu-to-block" class="nav child_menu">
                                   <li {% if sousItem is defined and sousItem == 'charges' %} class="current-page" {% endif %}><a href="{{ path('app_charge_index') }}"><i class="fa fa-money" aria-hidden="true"></i> Charges</a></li>
                                   <li {% if sousItem is defined and sousItem == 'achats' %} class="current-page" {% endif %}><a href="{{ path('app_achat_index') }}"><i class="fa fa-handshake-o" aria-hidden="true"></i> Achats</a></li>
                                   {% if is_granted('ROLE_SUPER_ADMIN') %}<li {% if sousItem is defined and sousItem == 'charges_employes' %} class="current-page" {% endif %}><a href="{{ path('app_charge_employes_index') }}"><i class="fa fa-users" aria-hidden="true"></i> Employés</a></li>{% endif %}
                                   <li {% if sousItem is defined and sousItem == 'settings' %} class="current-page" {% endif %}><a href="{{ path('app_depense_settings') }}"><i class="fa fa-cogs" aria-hidden="true"></i> Paramétrage</a></li>
                               </ul>
                           </li>
                           {% if is_granted('ROLE_SUPER_ADMIN') %}
                               <li {% if item is defined and item == 'settings' %} class="active" {% endif %}><a><i class="fa fa-cogs" aria-hidden="true"></i> Paramétrages <span class="fa fa-chevron-down"></span></a>
                                   <ul id="menu-to-block" class="nav child_menu">
                                       <li {% if sousItem is defined and sousItem == 'config' %} class="current-page" {% endif %}><a href="{{ path('app_config') }}"><i class="fa fa-wrench" aria-hidden="true"></i> Générale</a></li>
                                       <li {% if sousItem is defined and sousItem == 'users' %} class="current-page" {% endif %}><a href="{{ path('app_user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> Utilisateurs</a></li>
                                   </ul>
                               </li>
                               <li {% if item is defined and item == 'reporting' %} class="active" {% endif %}><a href="{{ path('app_reporting_index') }}"><i class="fa fa-list"></i> Rapports</a></li>
                               <li {% if item is defined and item == 'e-document' %} class="active" {% endif %}><a href="{{ path('app_e_document_index') }}"><i class="fa fa-file-pdf-o"></i> E-Documents</a></li>
                           {% endif %}
                       </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <!--<div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>-->
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img {% if app.user.image is not null %} src="{{ image('images/upload/' ~ app.user.image.fullName).resize(29,29) }}" {% else %} src="{{ image("images/upload/no_image.png").resize(29,29) }}" {% endif %} alt="{{ app.user.username }}">{{ app.user.username }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="{{ path('app_user_profil') }}"><i class="fa fa-user-circle-o pull-right"></i> Mon profil</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a></li>
                            </ul>
                        </li>

                        {#<li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">6</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="{{ image('noFound').resize(29,29) }}" alt="Profile Image" /></span>
                                        <span>

                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="{{ image('noFound').resize(29,29) }}" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="{{ image('noFound').resize(29,29) }}" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>                                <li>
                                    <a>
                                        <span class="image"><img src="{{ image('noFound').resize(29,29) }}" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>#}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row hidden-xs hidden-sm">
                <div class="col-lg-12 text-right">
                    <a href="{{ path('app_achat_index') }}?o=new-mp" class="btn btn-default" title="Ajouter achat matière première" target="_blank"><i class="fa fa-plus"></i> Achat MP</a>
                    <a href="{{ path('app_achat_index') }}?o=new-pa" class="btn btn-primary" title="Ajouter achat produit alia" target="_blank"><i class="fa fa-plus"></i> Achat PA</a>
                    <a href="{{ path('app_charge_index') }}?o=new" class="btn btn-info" title="Ajouter charge" target="_blank"><i class="fa fa-plus"></i> Charge</a>
                    <a href="{{ path('app_charge_employes_index') }}?o=new" class="btn btn-danger" title="Ajouter charge employé" target="_blank"><i class="fa fa-plus"></i> Charge Employé</a>
                    <a href="{{ path('app_commande_index') }}?o=new" class="btn btn-warning" title="Ajouter vente" target="_blank"><i class="fa fa-plus"></i> Vente</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <span><i class="fa fa-home"></i></span>
                        <li><a href="{{ path('app_index') }}">Alia Fromagerie</a></li>
                        {% block breadcrumb %}

                        {% endblock %}
                    </ol>
                </div>
            </div>
           {% block contenu %}{% endblock %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Alia Fromageri © {{ "now"|date('Y') }}
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- Large Modal -->
<div id="large-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button data-loading-text='Veuillez patienter <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' id="submit" type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer</button>
            </div>

        </div>
    </div>
</div>
<div id="large-modal-info" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
         </div>
    </div>
</div>
<!-- Medium modal -->
<div id="medium-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button data-loading-text='Veuillez patienter <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' id="submit" type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer</button>
            </div>

        </div>
    </div>
</div>
<!-- small modal -->
<div id="small-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button data-loading-text='Veuillez patienter <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' id="submit" type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer</button>
            </div>

        </div>
    </div>
</div>
<div id="small-modal-info" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- jQuery UI -->
<script src="{{ asset('vendors/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>
<!-- jQuery custom content scroller -->
<script src="{{ asset('vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<!-- jQuery sweetAlert -->
<script src="{{ asset('vendors/bootstrap-sweetalert-master/dist/sweetalert.min.js') }}"></script>
<!-- jQuery parsley validate -->
<script src="{{ asset('vendors/parsley/parsley.min.js') }}"></script>
<!-- jQuery selectPicker -->
<script src="{{ asset('vendors/bootstrap-select-1.12.2/dist/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('vendors/bootstrap-select-1.12.2/dist/js/i18n/defaults-fr_FR.min.js') }}"></script>
<!-- jQuery photobox  -->
<script  src="{{ asset('vendors/photobox-master/photobox/jquery.photobox.js') }}"></script>
<!-- jQuery autoSize  -->
<script src="{{ asset('vendors/autosize-master/dist/autosize.min.js') }}"></script>
<!-- iCheck -->
<script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>
<!-- jQuery Tags Input -->
<script src="{{ asset('vendors/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
<!-- Switchery -->
{#<script src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>#}
<!-- multiselect -->
<script src="{{ asset('vendors/lou-multi-select-e052211/js/jquery.multi-select.js') }}" type="text/javascript"></script>
<script src="{{ asset('vendors/quicksearch-master/jquery.quicksearch.js') }}" type="text/javascript"></script>
{% block javascript %}{% endblock %}
<!-- Custom Theme Scripts -->
<script src="{{ asset('build/js/custom.js') }}"></script>

<!-- Mon Script -->
<script src="{{ asset('build/js/script.js') }}"></script>
{% block customJs %}{% endblock %}
</body>
</html>