<style type="text/css">
    table.bordred tr td{
        border: 1px solid black;
        padding: 5px;
    }
    table.bordred tr td:first-child{
        padding-left: 8px !important;
    }
    table.bordred{
        border-collapse: collapse;
    }
</style>
<page backtop="15mm" backbottom="15mm" backleft="3mm" backright="3mm">

    <page_header>
        <table style="width: 100%; border-bottom: solid 1px black;">
            <tr>
                <td style="text-align: left;width: 8%;vertical-align: middle;">
                    <img style="width:100%;height:30px;" src="{{ configuration.absoluteWebPath ~ '/images/logo.png' }}" />
                </td>
                <td style="text-align: left;width: 92%;font-size: 15px;padding-left: 20px;">
                    Rapport des bénéfices net {% if criteres.mois is defined and criteres.annee is defined %} du mois <b>{{ ((criteres.mois ~ "/01/" ~ criteres.annee)|date('F'))|trans }} - {{ (criteres.mois ~ "/01/" ~ criteres.annee)|date('Y') }}</b>  {% elseif criteres.date_start is defined and criteres.date_end is defined %} <b> du {{ criteres.date_start }} au {{ criteres.date_end }}</b> {% endif %}
                </td>
            </tr>
        </table>
    </page_header>
    <page_footer>
        <table style="width: 100%; border-top: solid 1px black;">
            <tr>
                <td style="width: 50%;text-align: left;font-size: 9px;">
                    Généré le {{ "now"|date('d/m/Y') }}
                </td>
                <td style="width: 50%;text-align: right;font-size: 9px;">
                    Page: [[page_cu]]/[[page_nb]]
                </td>
            </tr>
        </table>
    </page_footer>

    <br/><br/>

    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;padding-left: 30px;font-weight: normal;text-decoration:underline;">
                <h2>● La liste des ventes</h2>
            </td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;" class="bordred">
        <tr>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:30px;text-align: center;">BL</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">Date</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:82px;text-align: center;">Client</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">HT</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">Remise</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">TVA</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">TTC</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">Frais</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">Ttotal</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">Avance</td>
            <td style="font-weight: bold;font-size: 9px;background-color: lightgrey;width:45px;text-align: center;">Reste</td>
        </tr>
        {% if reportCommandes.commandes|length > 0 %}
            {% for commande in reportCommandes.commandes if commande.facture is null %}
                <tr>
                    <td style="font-size: 9px;width:30px;text-align: center;vertical-align: middle;">{{ commande.id }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.date|date('d/m/Y') }}</td>
                    <td style="font-size: 9px;width:82px;text-align: center;vertical-align: middle;">{{ commande.clientEntreprise }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.montantTtc|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.remise ? commande.remise : '0' }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.tva ? commande.tva : '0'  }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.montantTtc|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.totalFrais|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.total|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;color: green;">{{ commande.avance|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;color: red;">{{ commande.reste|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            {% for commande in reportCommandes.commandes if commande.facture is not null %}
                <tr>
                    <td style="font-size: 9px;width:30px;text-align: center;vertical-align: middle;">{{ commande.id }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.date|date('d/m/Y') }}</td>
                    <td style="font-size: 9px;width:82px;text-align: center;vertical-align: middle;">{{ commande.clientEntreprise }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.montantTtc|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.remise ? commande.remise : '0' }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.tva ? commande.tva : '0'  }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.montantTtc|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.totalFrais|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;">{{ commande.total|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;color: green;">{{ commande.avance|number_format(2,'.',' ') }}</td>
                    <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;color: red;">{{ commande.reste|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="8" style="font-size: 9px;width:382px;text-align: right;vertical-align: middle;font-weight: bold;">Sous Totaux</td>
                <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;font-weight: bold;">{{ reportCommandes.total|number_format(2,'.',' ') }}</td>
                <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;color: green;font-weight: bold;">{{ reportCommandes.avance|number_format(2,'.',' ') }}</td>
                <td style="font-size: 9px;width:45px;text-align: center;vertical-align: middle;color: red;font-weight: bold;">{{ reportCommandes.reste|number_format(2,'.',' ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11" style="width: 100%;font-size: 15px;text-align: center;color: silver;">
                    Aucune vente enregistrée
                </td>
            </tr>
        {% endif %}
    </table>
<br/><br/><br/>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 50%;">
                <table class="bordred" style="width: 100%;font-size: 13px;">
                    <tr>
                        <td style="width: 50%;vertical-align: middle;text-align: left;font-weight: bold;">Total des ventes</td>
                        <td style="width: 50%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportCommandes.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;vertical-align: middle;text-align: left;color: green;font-weight: bold;">Total de avances</td>
                        <td style="width: 50%;vertical-align: middle;text-align: right;color: green;font-weight: bold;">{{ reportCommandes.avance|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;vertical-align: middle;text-align: left;color: red;font-weight: bold;">Total du reste</td>
                        <td style="width: 50%;vertical-align: middle;text-align: right;color: red;font-weight: bold;">{{ reportCommandes.reste|number_format(2,'.',' ') }} DH</td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;"></td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;padding-left: 30px;font-weight: normal;text-decoration:underline;">
                <h2>● La liste des achats (Matière Première)</h2>
            </td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;" class="bordred">
        <tr>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:11%;text-align: center;">Id</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:16%;text-align: center;">Date</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:41%;text-align: center;">Fournisseur</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:16%;text-align: center;">TVA</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:16%;text-align: center;">TTC</td>
        </tr>
        {% if reportAchatsMP.achats|length > 0 %}
            {% for achat in reportAchatsMP.achats if achat.numeroFacture is null %}
                <tr>
                    <td style="font-size: 11px;width:11%;text-align: center;vertical-align: middle;">{{ achat.id }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.date|date('d/m/Y') }}</td>
                    <td style="font-size: 11px;width:41%;text-align: center;vertical-align: middle;">{{ achat.fournisseur.nom }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.tva ? achat.tva : '0' }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.montantTtc|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            {% for achat in reportAchatsMP.achats if achat.numeroFacture is not null %}
                <tr>
                    <td style="font-size: 11px;width:11%;text-align: center;vertical-align: middle;">{{ achat.id }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.date|date('d/m/Y') }}</td>
                    <td style="font-size: 11px;width:41%;text-align: center;vertical-align: middle;">{{ achat.fournisseur.nom }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.tva ? achat.tva : '0' }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.montantTtc|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="font-size: 11px;width:84%;text-align: right;vertical-align: middle;font-weight: bold;">Sous Total</td>
                <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;font-weight: bold;">{{ reportAchatsMP.total|number_format(2,'.',' ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="width: 100%;font-size: 15px;text-align: center;color: silver;">
                    Aucune Achat (Matière Première) enregistrée
                </td>
            </tr>
        {% endif %}
    </table>
    <br/><br/><br/>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 50%;">
                <table class="bordred" style="width: 100%;font-size: 13px;">
                    <tr>
                        <td style="width: 50%;vertical-align: middle;text-align: left;font-weight: bold;">Total des achats (Matière Première)</td>
                        <td style="width: 50%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportAchatsMP.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;"></td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;padding-left: 30px;font-weight: normal;text-decoration:underline;">
                <h2>● La liste des achats (Produit d'Importation)</h2>
            </td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;" class="bordred">
        <tr>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:11%;text-align: center;">Id</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:16%;text-align: center;">Date</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:41%;text-align: center;">Fournisseur</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:16%;text-align: center;">TVA</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:16%;text-align: center;">TTC</td>
        </tr>
        {% if reportAchatsPI.achats|length > 0 %}
            {% for achat in reportAchatsPI.achats if achat.numeroFacture is null %}
                <tr>
                    <td style="font-size: 11px;width:11%;text-align: center;vertical-align: middle;">{{ achat.id }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.date|date('d/m/Y') }}</td>
                    <td style="font-size: 11px;width:41%;text-align: center;vertical-align: middle;">{{ achat.fournisseur.nom }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.tva ? achat.tva : '0' }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.montantTtc|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            {% for achat in reportAchatsPI.achats if achat.numeroFacture is not null %}
                <tr>
                    <td style="font-size: 11px;width:11%;text-align: center;vertical-align: middle;">{{ achat.id }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.date|date('d/m/Y') }}</td>
                    <td style="font-size: 11px;width:41%;text-align: center;vertical-align: middle;">{{ achat.fournisseur.nom }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.tva ? achat.tva : '0' }}</td>
                    <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;">{{ achat.montantTtc|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="font-size: 11px;width:84%;text-align: right;vertical-align: middle;font-weight: bold;">Sous Total</td>
                <td style="font-size: 11px;width:16%;text-align: center;vertical-align: middle;font-weight: bold;">{{ reportAchatsPI.total|number_format(2,'.',' ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="width: 100%;font-size: 15px;text-align: center;color: silver;">
                    Aucune Achat (Produit d'Importation) enregistrée
                </td>
            </tr>
        {% endif %}
    </table>
    <br/><br/><br/>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 50%;">
                <table class="bordred" style="width: 100%;font-size: 13px;">
                    <tr>
                        <td style="width: 50%;vertical-align: middle;text-align: left;font-weight: bold;">Total des achats (Produit d'Importation)</td>
                        <td style="width: 50%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportAchatsPI.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;"></td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;padding-left: 30px;font-weight: normal;text-decoration:underline;">
                <h2>● La liste des dépenses</h2>
            </td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;" class="bordred">
        <tr>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:7%;text-align: center;">Id</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:15%;text-align: center;">Date</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:20%;text-align: center;">Fournisseur</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:28%;text-align: center;">Designations</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:15%;text-align: center;">TVA</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:15%;text-align: center;">TTC</td>
        </tr>
        {% if reportChargesAutre.charges|length > 0 %}
            {% for charge in reportChargesAutre.charges if charge.numeroFacture is null %}
                <tr>
                    <td style="font-size: 11px;width:7%;text-align: center;vertical-align: middle;">{{ charge.id }}</td>
                    <td style="font-size: 11px;width:15%;text-align: center;vertical-align: middle;">{{ charge.date|date('d/m/Y') }}</td>
                    <td style="font-size: 11px;width:20%;text-align: center;vertical-align: middle;">{{ charge.fournisseur ? charge.fournisseur.nom : '' }}</td>
                    <td style="font-size: 11px;width:28%;text-align: center;vertical-align: middle;">
                        {% for d in charge.typesDepenses %}
                            &diams; {{ d.fullLabel }}
                        {% endfor %}
                    </td>
                    <td style="font-size: 11px;width:15%;text-align: center;vertical-align: middle;">{{ charge.tva ? charge.tva : '0' }}</td>
                    <td style="font-size: 11px;width:15%;text-align: center;vertical-align: middle;">{{ charge.montantTtc|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            {% for charge in reportChargesAutre.charges if charge.numeroFacture is not null %}
                <tr>
                    <td style="font-size: 11px;width:7%;text-align: center;vertical-align: middle;">{{ charge.id }}</td>
                    <td style="font-size: 11px;width:15%;text-align: center;vertical-align: middle;">{{ charge.date|date('d/m/Y') }}</td>
                    <td style="font-size: 11px;width:20%;text-align: center;vertical-align: middle;">{{ charge.fournisseur ? charge.fournisseur.nom : '' }}</td>
                    <td style="font-size: 11px;width:28%;text-align: center;vertical-align: middle;">
                        {% for d in charge.typesDepenses %}
                            &diams; {{ d.fullLabel }}
                        {% endfor %}
                    </td>
                    <td style="font-size: 11px;width:15%;text-align: center;vertical-align: middle;">{{ charge.tva ? charge.tva : '0' }}</td>
                    <td style="font-size: 11px;width:15%;text-align: center;vertical-align: middle;">{{ charge.montantTtc|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5" style="font-size: 11px;width:85%;text-align: right;vertical-align: middle;font-weight: bold;">Sous Total</td>
                <td style="font-size: 11px;width:15%;text-align: center;vertical-align: middle;font-weight: bold;">{{ reportChargesAutre.total|number_format(2,'.',' ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="width: 100%;font-size: 15px;text-align: center;color: silver;">
                    Aucune dépense enregistrée
                </td>
            </tr>
        {% endif %}
    </table>
    <br/><br/><br/>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 50%;">
                <table class="bordred" style="width: 100%;font-size: 13px;">
                    <tr>
                        <td style="width: 50%;vertical-align: middle;text-align: left;font-weight: bold;">Total des dépenses</td>
                        <td style="width: 50%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportChargesAutre.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;"></td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;padding-left: 30px;font-weight: normal;text-decoration:underline;">
                <h2>● La liste des charges employés</h2>
            </td>
        </tr>
    </table>

    <br/><br/>

    <table style="width: 100%;" class="bordred">
        <tr>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:11%;text-align: center;">Id</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:18%;text-align: center;">Date</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:25%;text-align: center;">Employé</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:28%;text-align: center;">Designation</td>
            <td style="font-weight: bold;font-size: 11px;background-color: lightgrey;width:18%;text-align: center;">Montant</td>
        </tr>
        {% if reportChargesEmploye.charges|length > 0 %}
            {% for charge in reportChargesEmploye.charges %}
                <tr>
                    <td style="font-size: 11px;width:11%;text-align: center;vertical-align: middle;">{{ charge.id }}</td>
                    <td style="font-size: 11px;width:18%;text-align: center;vertical-align: middle;">{{ charge.date|date('d/m/Y') }}</td>
                    <td style="font-size: 11px;width:25%;text-align: center;vertical-align: middle;">{{ charge.employe.fullName }}</td>
                    <td style="font-size: 11px;width:28%;text-align: center;vertical-align: middle;">
                        {% for d in charge.typesDepenses %}
                            &diams; {{ d.fullLabel }}
                        {% endfor %}
                    </td>
                    <td style="font-size: 18px;width:15%;text-align: center;vertical-align: middle;">{{ charge.montantTtc|number_format(2,'.',' ') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="font-size: 11px;width:82%;text-align: right;vertical-align: middle;font-weight: bold;">Sous Total</td>
                <td style="font-size: 18px;width:15%;text-align: center;vertical-align: middle;font-weight: bold;">{{ reportChargesEmploye.total|number_format(2,'.',' ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" style="width: 100%;font-size: 15px;text-align: center;color: silver;">
                    Aucune charge employé enregistrée
                </td>
            </tr>
        {% endif %}
    </table>
    <br/><br/><br/>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 50%;">
                <table class="bordred" style="width: 100%;font-size: 13px;">
                    <tr>
                        <td style="width: 50%;vertical-align: middle;text-align: left;font-weight: bold;">Total des charge employé</td>
                        <td style="width: 50%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportChargesEmploye.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;"></td>
        </tr>
    </table>

    <br/><br/><br/>
    <table style="width: 100%;">
        <tr>
            <td style="width: 20%;"></td>
            <td style="width: 60%;">
                <table style="width: 100%;font-size: 13px;">
                    <tr>
                        <td colspan="2" style="width: 100%;font-weight: bold;font-size: 15px;text-align: center;border-top: 1px solid silver;padding-top: 10px;padding-bottom: 5px;">
                            Résumé {% if criteres.mois is defined and criteres.annee is defined %} du mois {{ ((criteres.mois ~ "/01/" ~ criteres.annee)|date('F'))|trans }} - {{ (criteres.mois ~ "/01/" ~ criteres.annee)|date('Y') }}  {% elseif criteres.date_start is defined and criteres.date_end is defined %} du {{ criteres.date_start }} au {{ criteres.date_end }} {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 60%;vertical-align: middle;text-align: left;font-weight: bold;">Total des ventes</td>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 40%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportCommandes.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="width: 60%;vertical-align: middle;text-align: left;font-weight: bold;color: green;">Avance</td>
                        <td style="width: 40%;vertical-align: middle;text-align: right;font-weight: bold;color: green;">{{ reportCommandes.avance|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="width: 60%;vertical-align: middle;text-align: left;font-weight: bold;color: red;padding-bottom: 5px;">Reste</td>
                        <td style="width: 40%;vertical-align: middle;text-align: right;font-weight: bold;color: red;padding-bottom: 5px;">{{ reportCommandes.reste|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 60%;vertical-align: middle;text-align: left;font-weight: bold;">Total des achats (Matière Première)</td>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 40%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportAchatsMP.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 60%;vertical-align: middle;text-align: left;font-weight: bold;">Total des achats (Produit d'Importation)</td>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 40%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportAchatsPI.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 60%;vertical-align: middle;text-align: left;font-weight: bold;">Total des dépenses</td>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 40%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportChargesAutre.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 60%;vertical-align: middle;text-align: left;font-weight: bold;">Total des charge employé</td>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 40%;vertical-align: middle;text-align: right;font-weight: bold;">{{ reportChargesEmploye.total|number_format(2,'.',' ') }} DH</td>
                    </tr>
                    <tr style="color: blue;">
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 60%;vertical-align: middle;text-align: left;font-weight: bold;">Bénéfice net</td>
                        <td style="padding-top: 10px;padding-bottom: 5px;border-top: 1px solid silver;width: 40%;vertical-align: middle;text-align: right;font-weight: bold;">{{ (reportCommandes.total - (reportAchatsMP.total + reportAchatsPI.total + reportChargesAutre.total + reportChargesEmploye.total ))|number_format(2,'.',' ') }} DH</td>
                    </tr>
                </table>
            </td>
            <td style="width: 20%;"></td>
        </tr>
    </table>
</page>