{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alia Fromagerie - Mot de passe oublié</title>

    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{{ asset('vendors/animate.css/animate.min.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('build/css/custom.min.css') }}" rel="stylesheet">
</head>

<body class="login">
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
            <h1>Réinitialiser votre mot de passe</h1>
                {% if invalid_username is defined %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                    </div>
                {% endif %}
            <div>
                <input type="email" class="form-control" name="username" id="username" placeholder="Email" required autofocus>
            </div>
            <div>
                <button class="btn btn-default submit" type="submit">Réinitialiser mon mot de passe</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    <a href="{{ path('fos_user_security_login') }}" class="to_register">Se Connecter</a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1>Alia Fromagerie</h1>
                    <p>{{ "now"|date('Y') }} © Tous droits réservés</p>
                </div>
            </div>
            </form>
        </section>
    </div>
</div>
</body>
</html>
