{% extends "layout.html.twig" %}
{% set item = 'e-document' %}
{% block title %}E-Documents{% endblock %}

{% block style %}

{% endblock %}

 {% block breadcrumb %}
     <li class="active">E-Documents</li>
 {% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            <p style="padding: 10px 15px;color: red;" class="form-error"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form_start(formDocument,{ 'action': action,'attr':{'method':'POST','id':'appbundle_edocument','data-parsley-validate':''}}) }}
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <p style="margin-top: 7px;font-weight: bold;" class="text-center">Ajouter un nouveau document</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="input-group">
                        {{ form_widget(formDocument.titre, {'attr': {'class':'form-control'}}) }}
                        <span class="input-group-btn">
                            <button type="button" id="bind-img" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Choisir un fichier</button>
                        </span>
                        {{ form_widget(formDocument.file, {'attr': {'class':'form-control','style':'display:none;'}}) }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <button data-loading-text='Veuillez patienter <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' class="btn btn-sm btn-primary" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Enregistrer</button>
                    </div>
                </div>
            </div>
            {{ form_rest(formDocument) }}
            {{ form_end(formDocument) }}
        </div>
    </div>
    <div style="background-color: white;" class="row">
        <div id="documents-items" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% include "AppBundle:edocument:items.html.twig" with {'documents':documents} %}
        </div>
    </div>
{% endblock %}

{% block customJs %}
    <script type="text/javascript" src="{{ asset('js/edocument/index.js') }}"></script>
{% endblock %}