{% extends "layout.html.twig" %}
{% set item = 'ventes' %}
{% block title %}Ventes{% endblock %}

{% block style %}
    <!-- Datatables -->
    <link href="{{ asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css') }}" type="text/css" />
 {% endblock %}

{% block customCss %}
    <style type="text/css">
        @font-face {
            font-family: "CenturyGothic";
            src: url({{ asset('fonts/century-gothic.ttf') }});
        }
        #vaucher{
            font-family: "CenturyGothic";
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    </li><li class="active">Ventes</li>
{% endblock %}

{% block contenu %}
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="" id="tabs-charges" role="tabpanel" data-example-id="togglable-tabs">
                <div id="tabs-charges-content" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="liste-tab" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Recherche : </h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><select class="form-control" id="length"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option selected value="75">75</option><option value="100">100</option></select></li>
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="search-bar" class="x_content">
                                        <div class="row row-fluid">
                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <select id="annee" class="form-control show-tick filter" data-live-search="true">
                                                        <option {% if queryParams.client is defined or queryParams.entreprise is defined %} selected {% endif %} value>Année</option>
                                                        {% for a in range(2016,"now"|date('Y')) %}
                                                            <option {% if loop.last and queryParams.client is not defined and queryParams.entreprise is not defined %} selected {% endif %} value="{{ a }}">{{ a }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <select id="mois" class="form-control show-tick filter" data-live-search="true">
                                                        <option {% if queryParams.client is defined or queryParams.entreprise is defined %} selected {% endif %} value>Mois</option>
                                                        {% for m in range(1,12) %}
                                                            {% set dateString = "01-"~ m ~ "-2017" %}
                                                            <option {% if m == "now"|date('m') and queryParams.client is not defined and queryParams.entreprise is not defined %} selected {% endif %} value="{{ m }}">{{ dateString|date('m') }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <select id="mode" class="form-control show-tick filter" data-live-search="true">
                                                        <option selected value="">Mode Paiement</option>
                                                        {% for mode in modes %}
                                                            {% if not mode.isArchive %}
                                                                <option value="{{ mode.id }}">{{ mode.label }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <select id="client-entreprise" class="form-control show-tick filter" data-live-search="true">
                                                        <option value>Client</option>
                                                        <optgroup id="clients" label="Clients">
                                                            {% for client in clients %}
                                                                {% if not client.isArchive %}
                                                                    <option {% if queryParams.client is defined and queryParams.client == client.id %} selected {% endif %} data-type="client" value="{{ client.id }}">{{ client.fullName(true)}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </optgroup>
                                                        <optgroup id="commerciaux" label="Commerciaux">
                                                            {% for commerciale in commerciales %}
                                                                {% if not commerciale.isArchive %}
                                                                    <option {% if queryParams.client is defined and queryParams.client == commerciale.id %} selected {% endif %} data-type="client" value="{{ commerciale.id }}">{{ commerciale.fullName(true)}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </optgroup>
                                                        <optgroup id="entreprises" label="Entreprises">
                                                            {% for entreprise in entreprises %}
                                                                {% if not entreprise.isArchive %}
                                                                    <option {% if queryParams.entreprise is defined and queryParams.entreprise == entreprise.id %} selected {% endif %} data-type="entreprise" value="{{ entreprise.id }}">{{ entreprise.nom}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <input {% if queryParams.id is defined %} value="{{ queryParams.id }}" {% endif %} type="text" placeholder="BL" id="id" class="form-control small-input filter entier" />
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" placeholder="N° reglement" id="cheque" class="form-control filter entier" />
                                                </div>
                                            </div>

                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Facture" id="facture" class="form-control small-input filter entier" />
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                                                <div class="form-group">
                                                    <select id="isPaid" class="form-control show-tick filter">
                                                        <option selected value="">Payé</option>
                                                        <option value="1">Oui</option>
                                                        <option value="0">Non</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {#<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <input type="text" title="Montant Ttc" placeholder="TTC" id="ttc" class="form-control small-input filter numerique" />
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                                <div class="form-group">
                                                    <input type="text" title="Montant Ht" placeholder="Ht" id="ht" class="form-control small-input filter numerique" />
                                                </div>
                                            </div>#}
                                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                                                <div class="form-group">
                                                    <div style="margin-top: 8px;" class="pretty info circle curvy a-rotate">
                                                        <input class="filter" value="1" id="has_invoice" type="checkbox">
                                                        <label><i class="fa fa-check" aria-hidden="true"></i> Facture</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Liste Ventes</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <div id="collection-action" style="display: none;margin-right: 5px;" class="btn-group">
                                                    <button data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>' type="button" style="background-color: cornflowerblue;color: azure;padding: 5px 10px;margin: 0 1px;" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu inner">
                                                        <li><button style="width: 100%;text-align: left;" data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>'  data-href="{{ path('app_facture_new_collection') }}" id="collection-create-invoice" class="btn btn-default"><i class="fa fa-foursquare" aria-hidden="true"></i> Générer facture</button></li>
                                                        <li><button style="width: 100%;text-align: left;" data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>'  data-href="{{ path('app_facture_new_one_collection') }}" id="collection-create-one-invoice" class="btn btn-default"><i class="fa fa-foursquare" aria-hidden="true"></i> Générer 1 facture</button></li>
                                                        <li><button style="width: 100%;text-align: left;" data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>'  data-href="{{ path('app_commande_paiements_add') }}" data-title="Payer plusieurs ventes" id="collection-add-paiment" class="btn btn-default"><i class="fa fa-money" aria-hidden="true"></i> Payer</button></li>
                                                        <li><button style="width: 100%;text-align: left;" data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>'  data-href="{{ path('app_commande_remove_collection') }}" id="collection-delete" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button></li>
                                                        <li><button style="width: 100%;text-align: left;" data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>'  data-href="{{ path('app_facture_print_collection') }}" id="collection-factures-print" class="btn btn-default"><i class="fa fa-print" aria-hidden="true"></i> Réunir factures</button></li>
                                                        <li><button style="width: 100%;text-align: left;" data-loading-text='Veuillez patienter<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>'  data-href="{{ path('app_commande_print_collection') }}" id="collection-bons-print" class="btn btn-default"><i class="fa fa-print" aria-hidden="true"></i> Réunir bons</button></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li><a title="Nouvelle vente" data-loading-text='Veuillez patienter <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>' data-href="{{ path('app_commande_add') }}" id="add-commande" data-title="Ajouter une nouvelle vente"><i class="fa fa-plus-square" aria-hidden="true"></i> Vente</a></li>
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <table id="table-commandes" data-href="{{ path('app_commande_index') }}" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th style="background-color: transparent;text-align: center;">
                                                    <div style="margin: auto;" class="pretty info circle curvy a-rotate">
                                                        <input id="select-all-order" type="checkbox">
                                                        <label><i class="fa fa-check" aria-hidden="true"></i></label>
                                                    </div>
                                                </th>
                                                <th>BL</th>
                                                <th>Date</th>
                                                <th>Client</th>
                                                <th title="Montant Hors Taxe">HT</th>
                                                <th>TVA</th>
                                                <th title="Montant toute taxe comprise">TTC</th>
                                                <th>Facture</th>
                                                <th title="Frais Supplémentaire">Frais Supp</th>
                                                <th>TOTAL</th>
                                                <th>Avance</th>
                                                <th>Reste</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="nouveau-tab" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2 id="h2-title"></h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a style="padding: 3px 10px;" title="Annuler" class="btn btn-default" id="cancel">Annuler</a></li>
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if queryParams.o is defined and queryParams.o == 'edit' and queryParams.id is defined %}
        <input type="hidden" data-title="Editer vente N° {{ queryParams.id }}" id="auto-run" data-operation="edit" data-href="{{ path('app_commande_edit',{'id':queryParams.id}) }}" />
    {% endif %}
{% endblock %}

{% block javascript %}
    <!-- Datatables -->
    <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/bootstrap-datetimepicker/js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
{% endblock %}
{% block customJs %}
    <script src="{{ asset('js/commande/index.js') }}"></script>
    {% if app.request.query.has('o') and app.request.query.get('o') == 'new' %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#add-commande").trigger('click');
            });
        </script>
    {% endif%}
{% endblock %}